/**/
body {
    background-color: skyblue;
    }
    button {
        color: blue;
        font-family: Times;
        border-radius: 20px;
    }

    #minuteStr {
        color: #ff0000;
        font-size: 20px;
        text-align: left;
        position:absolute; top:210px; 
        left:10px; right:10px;
    }
    
    #secondStr {
        color: #ff0000;
        font-size: 10px;
        text-align: left;
        position:absolute; top:250px; 
        left:10px; right:10px;
        overflow-wrap: break-word;
    }

    #remain {
        color: #ff0000;
        font-size: 20px;
        text-align: center;
        position:absolute; top:310px; 
        left:10px; right:10px;
        font-weight: bold;
    }
    
    #time {
        color: #ff0000;
        font-size: 20px;
        text-align: center;
        position:absolute; top:340px; 
        left:10px; right:10px;
        box-shadow: 5px 5px 5px;
        width: 50%;
        margin: 0 auto;
    }
    
    #mycanvas {
        color: #ffffff;
        font-size: 40px;
        text-align: center;
        position:absolute; top:10px; 
        left:10px; right:10px;
    }
    
    #btnA {
        font-size: 20px;
        position:absolute; top:380px; left:2%; width:35%; height:60px;
        background-color: yellow; 
        color: green;
    }
    
    #btnB {
        font-size: 20px;
        position:absolute; top:380px; left:38%; width:25%; height:60px;
        background-color:white;
    }

    #btnC {
        font-size: 20px;
        position:absolute; top:380px; left:64%; width:25%; height:60px; 
        background-color: yellowgreen;
    }

    #btnD {
        font-size: 20px;
        position:absolute; top:380px; left:90%; width:25%; height:60px; 
        background-color:orange;
    }
    
    #minute {
        font-size: 30px;
        position:absolute; top:450px; left:60px; width:80px; height:40px;   
    }
    
    #second {
        font-size: 30px;
        position:absolute; top:450px; left:190px; width:80px; height:40px;   
    }
    
    input[type=number] {text-align: right;}

    #btnPreset1 {
        font-size: 18px;
        position:absolute; top:520px; left:2%; width:25%; height:60px;
        background-color:burlywood; 
        color: green;
    }

    #btnPreset3 {
        font-size: 18px;
        position:absolute; top:520px; left:35%; width:25%; height:60px;
        background-color:burlywood;
        color: green;
    }

    #btnPreset5 {
        font-size: 18px;
        position:absolute; top:520px; left:70%; width:25%; height:60px;
        background-color:burlywood; 
        color: green;
    }




    